.navbar {
    background-color: rgba(0,0,0,0);
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}


  
 .navbar-expand-sm-colored{background-color: #000}

 .navbar-expand-sm-transparent{background-color: transparent}



