.navbar-custom {
    background-color: rgba(0,0,0,0);
    transition: all 0.50s ease;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

#backgroundimage{
    width:150%;
    display:center;
    align-items: center;
   
}
  
 .navbar-custom.navbar-colored{background-color: rgba(0, 0, 0, 0.664)}

 
 .line-1{
    position: relative; 
    font-size: 8vh;
    text-align: center;
    overflow: hidden;
    color:black;
}

body{
    font-family: 'Raleway', sans-serif;
}


#typedtext::after{
    content: "_";
    animation: blink 300ms linear infinite alternate;
}

#selectionDiv{
    display: flex;
    position: fixed;
    bottom: 5vh;


    width: 100%;
    justify-content: center;

}

#arrowDownDiv{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    opacity:0;
    font-size: 3.5vh;
    animation: fade-in 1.5s normal forwards ease-in-out;
    transition: font-size 500ms;
}

#arrowDownDiv:hover{
    
    font-size:4vh;
}

@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#arrowDown{
    display:flex;
    justify-content:center;
    font-size:3em;
}


@-webkit-keyframes blink{
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}




@keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }