.DevPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__Paper {
        width: 300px;
        height: 100px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__Loading {
        margin: 50px;
        width: 300px;
    }
}