.Typewriter {
    color: white;
    font-size: 4.5rem;
    font-family: 'Insolata', monospace;
    line-height: 1;
    @media(max-width: 993px) {
        font-size: 3rem;
    }
    animation: appear 1.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.TypewriterContainer {
    position: absolute;
    top: 40vh;
    z-index: 2;
    width: 100%;
    text-align: center;

    @media (max-width: 993px) {
        top: 250px;
    }
}

.Background {
    min-height: 200vh;
    min-width: 100vw;
    background-image: url("../../assets/mtl.jpg");
    background-repeat: no-repeat; 
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

/* Safari-only hack; disable fixed background since it lags the app */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .Background {
        min-height: 100vh;
        background-attachment: scroll;
    }
    
}}
