.GitHub {
    margin: 50px;
    @media(max-width: 993px) {
        margin: 30px 10px;
    }
    .ui.statistic {
        .value {
            display: flex;
            justify-content: flex-start;
            align-items: center
        }
    }
}