.WorkExperience {
    margin: 50px;
    @media(max-width: 993px) {
        margin: 30px 10px;
        h2.ui.header {
            font-size: 1.5rem;
        }
    }
    .ui.header {
        white-space: pre-wrap;
    }
}