

$body-bg: #ededed;

.jumbotron{
    background-color:#ffffff !important;
    border-top:3px solid rgb(219,219,219);
}
    



$theme-colors:(
    "primary": #4f43fa
);


@import "node_modules/bootstrap/scss/bootstrap"; 